{% extends "base.html" %}
{% load staticfiles thumbnail %}

{% block titulo %}{{articulo.titulo}}{% endblock %}
{% block descripccion %}{{articulo.bajada}}{% endblock %}

{% block body_class %}articulo{% endblock %}

{% block share-data %}
	<!-- for Facebook -->          
	<meta property="og:title" content="{{articulo.titulo}} - Sudestada" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{{ request.META.HTTP_HOST }}{{articulo.imagen.url}}" />
	<meta property="og:description" content="{{articulo.bajada}}" />
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
	//Codigo Shareaholic
	//<![CDATA[
	  (function() {
	    var shr = document.createElement('script');
	    shr.setAttribute('data-cfasync', 'false');
	    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
	    shr.type = 'text/javascript'; shr.async = 'true';
	    shr.onload = shr.onreadystatechange = function() {
	      var rs = this.readyState;
	      if (rs && rs != 'complete' && rs != 'loaded') return;
	      var site_id = 'a726677ed1e074b0e4b01b9a45422b66';
	      try { Shareaholic.init(site_id); } catch (e) {}
	    };
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(shr, s);
	  })();
	//]]>
	</script>
{% endblock %}

{% block contenido %}
	<div class="row">

		<div class="encabezado col-md-12">
			<small>{{articulo.volanta}}</small>
			<h1>{{articulo.titulo}}</h1>
			<p>{{articulo.bajada}}</p>
		</div>

			<div class="row">
				<div class="edicion col-md-2">
					{% include 'edicion-sumario.html' %}

					<div class="compartir">
						<h3>Compartir Articulo</h3>
						<div class='shareaholic-canvas clearfix' data-app='share_buttons' data-app-id='14920346'></div>
					</div>
				</div>

				

				<div class="cuerpo col-md-7">
					<div>
						{% if articulo.imagen|is_portrait %}
							{% thumbnail articulo.imagen  "500" upscale=True as im %}
								<img src="{{ im.url }}" class="main-img-portait">
							{% endthumbnail %}
						{% else %}
							{% thumbnail articulo.imagen  "800" upscale=True as im %}
								<img src="{{ im.url }}" class="main-img">
							{% endthumbnail %}
						{% endif %}

						<div class="texto">
							{{articulo.texto|safe}}
						</div>
					</div>

					<div class="comentarios">
						<h2>Comentarios</h2>
						{% include "comentarios.html" %}
					</div> 
				</div>




				{% if  articulo.autor %}
					<div class="col-md-3">
						<div class="autor">
							<div class="row">
								<div class="col-md-4">
									<div class="contenedor-img">
										{% thumbnail articulo.autor.imagen "100x100" crop="center" as im %}
										    <img src="{{ im.url }}" alt="{{articulo.autor.nombre}}">
										{% endthumbnail %}
									</div>
								</div>

								<div class="col-md-8">
									<small>Autor</small>
									<h2>{{articulo.autor.nombre}}</h2>
								</div>
							</div>
							<p>{{articulo.autor.biografia_corta}}</p>
						</div>
					</div>
				{% endif %}


				{% include "sidebar.html" %}
				



				<div class="articulos-relacionados col-md-9">
					<h2>Articulos Relacionados</h2>
					<div class="row">
						{% for articulo in articulos_relacionados %}
							<a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
								<div class="articulo col-md-3">
									{% thumbnail articulo.imagen "200x200" crop="center" as im %}
									    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
									{% endthumbnail %}
									<small>{{articulo.volanta}}</small>
									<h3>{{articulo.titulo}}</h3>
									<p>{{articulo.bajada|truncatewords:20}}</p>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>

			</div>
		
	</div>


{% endblock %}