{% load staticfiles %}
<html>
	<head>
		{% if debug %}
			<link rel="stylesheet" type="text/less" href="{% static 'css/style.less' %}?vsfsddf=2123">
			<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js"></script>
		{% else %}
			<link rel="stylesheet" href="{% static 'css/style.css' %}">
		{% endif %}

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		{% block extra_css %}{% endblock %}

		<title>{% block titulo %}Revista Sudestada{% endblock %}</title>
		<meta name="description" content="{% block descripccion %}Revista sobre Cultura, Arte y Sociedad{% endblock %}">

		{% block share-data %}
			<!-- for Facebook -->          
			<meta property="og:title" content="Revista Sudestada" />
			<meta property="og:image" content="{{ request.META.HTTP_HOST }}/static/img/logo.png" />
			<meta property="og:description" content="Revista sobre Cultura, Arte y Sociedad" />
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">

		<div class="container">
			{% block header %}
				{% include "header.html" %}
			{% endblock %}

			{% block contenido %}
			{% endblock %}

			{% block footer %}
				{% include "footer.html" %}
			{% endblock %}
		</div>

	</body>

	<script>
	//FACEBOOK SDK
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=864410493581694&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>


	<script>
	//Google analytics
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59096232-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
	{% block extra_js %}
	{% endblock %}
</html>