{% extends "base.html" %}
{% load bootstrap %}

{% block body_class %}articulo contacto{% endblock %}

{% block titulo %}Escribile Revista Sudestada{% endblock %}
{% block descripccion %}Podés enviarnos un correo a sudestadarevista@yahoo.com.ar, llamarnos a (011) 4292-1859 o usar este formulario.{% endblock %}

{% block contenido %}
		<div class="row">
			<div class="row">
				<div class="col-md-9">
					{% if form.is_valid %}
						<div class="encabezado">
							<h1>Ya recibimos tu mensaje</h1>
							<p>Gracias por escribirnos, te contestaremos lo más pronto posible.</p>
						</div>
					{% else %}
						<div class="encabezado">
							<h1>Contacto</h1>
							<p>Contactanos, nos vamos a poner en contacto lo antes posible.</p>
							<p>Podés escribirnos a <b>sudestadarevista@yahoo.com.ar</b>, llamarnos a <b>(011) 4292-1859</b> o usar este formulario.</p>
						</div>

						<div class="marco-contacto">

							{% if edicion %}
							<div class="marco-contacto-edicion col-sm-12">
								<div class="row">
									{% if edicion.imagen %}
										<div class="imagen col-sm-2">
											{% thumbnail edicion.imagen "200" as im %}
												<img src="{{ im.url }}" alt="{{edicion.titulo}}">
											{% endthumbnail %}
										</div>
									{% endif %}
									<div class="info col-sm-10">
										<h3>Consulta por Edición:</h3>
										<h2>{{edicion.titulo}}</h2>
										<p>{{edicion.coleccion.titulo}}</p>
									</div>
								</div>
							</div>
							{% endif %}

							<form method="POST">
								{% csrf_token %}
								{{form|bootstrap}}
								<button class="btn btn-warning btn-lg" action="submit">Enviar Mensaje</button>
							</form>

						</div>

					{% endif %}
				</div>

				{% include "sidebar.html" %}
			</div>
		
	</div>
{% endblock %}