{% extends "base.html" %}
{% load staticfiles thumbnail %}

{% block extra_js %}
	<script src="{% static 'js/libs/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'js/mismo-alto.js' %}"></script>
{% endblock %}

{% block titulo %}{{edicion.titulo}} - {{edicion.coleccion.titulo}} - N°{{edicion.numero}}{% endblock %}
{% block descripccion %}{% for articulo in edicion.articulo_set.all %}.{{articulo.titulo}} {% endfor %}{% endblock %}

{% block share-data %}
	<!-- for Facebook -->          
	<meta property="og:title" content="{{edicion.titulo}} - {{edicion.coleccion.titulo}} - N°{{edicion.numero}} - Sudestada" />
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{edicion.imagen.url}}" />
	<meta property="og:description" content="{% for articulo in edicion.articulo_set.all %}.{{articulo.titulo}} {% endfor %}" />
{% endblock %}


{% block body_class %}index{% endblock %}


{% block contenido %}
	{% include 'edicion-contenido.html' %}
{% endblock %}

