{% load staticfiles thumbnail %}

<h3 class="id-edicion">
	Edición
	{% if edicion.especial %} Especial{% endif %}
	{% if edicion.numero %} N° {{edicion.numero}}{% endif %}
</h3>

<a href="/edicion/{{edicion.id}}/{{edicion.slug}}/">
	{% thumbnail edicion.imagen "250" as im %}
	    <img class="tapa" src="{{ im.url }}">
	{% endthumbnail %}
</a>

<h2>{{edicion.titulo}}</h2>

<a href="/coleccion/{{edicion.coleccion.id}}/{{edicion.coleccion.slug}}/"><h4 class="coleccion">{{edicion.coleccion.titulo}}</h4></a>

<a href="{% if edicion.enlace_tienda %}{{edicion.enlace_tienda}}{% else %}/comprar/{{edicion.id}}{% endif %}" class="btn btn-warning"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Comprar edición impresa</a>

<h3 class="sumario-titulo">Sumario</h3>
<ul class="sumario">
	{% for articulo in edicion.articulos %}
		<li><a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">{{articulo.titulo}}</a></li>
	{% endfor %}
</ul>