{% load staticfiles thumbnail %}

<li class="col-md-3 edicion-listada">
	<a class="mismo-alto" href="/edicion/{{edicion.id}}/{{edicion.slug}}/">

		{% if edicion.imagen %}
			{% thumbnail edicion.imagen "200" as im %}
			    <img src="{{ im.url }}" alt="Tapa numero {{edicion.numero}}, {{edicion.titulo}}">
			{% endthumbnail %}
		{% else %}
			<img src="http://placehold.it/200x280&text=...">
		{% endif %}


		<p><b>N° {{edicion.numero}}</b></p>
		<h4>{{edicion.titulo}}</h4>
		{% if edicion.especial %}
			<a class="coleccion" href="/coleccion/{{edicion.coleccion.id}}/{{edicion.coleccion.slug}}/">
				<h5><span class="glyphicon glyphicon-th"></span> {{edicion.coleccion.titulo}}</h5>
			</a>
		{% endif %}
	</a>

	<a href="/comprar/" class="btn btn-warning"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Comprar edición impresa</a>
</li>