{% load staticfiles thumbnail %}

<div class="row">
	<div class="col-md-12">
		<div class="row edicion edicion-actual">
			<div class="col-md-3">
				{% include 'edicion-sumario.html' %}
			</div>
			<div class="col-md-9">
				<div class="row">
					{% for articulo in edicion.articulos %}

						{% if forloop.counter == 1 %}
							<div class="articulo-listado col-md-7 mismo-alto">
								<a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
									<small>{{articulo.volanta}}</small>
									<h1>{{articulo.titulo}}</h1>
									{% if articulo.imagen %}
									{% thumbnail articulo.imagen "500x250" crop="center" as im %}
									    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
									{% endthumbnail %}
									{% else %}
										<img src="http://placehold.it/500x250&text=..." alt="placeholder">
									{% endif %}
									{% if articulo.bajada %}
										<p>{{articulo.bajada|truncatewords:40}}</p>
									{% else %}
										<p>{{articulo.texto|truncatewords:40}}</p>
									{% endif %}
								</a>
							</div>
						{% endif %}

						{% if forloop.counter == 2 %}
							<div class="articulo-listado col-md-5 mismo-alto">
								<a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
									<small>{{articulo.volanta}}</small>
									<h1>{{articulo.titulo}}</h1>
									{% if articulo.imagen %}
									{% thumbnail articulo.imagen "350x200" crop="center" as im %}
									    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
									{% endthumbnail %}
									{% else %}
										<img src="http://placehold.it/350x200&text=..." alt="placeholder">
									{% endif %}
									{% if articulo.bajada %}
										<p>{{articulo.bajada|safe|truncatewords:25}}</p>
									{% else %}
										<p>{{articulo.texto|safe|truncatewords:25}}</p>
									{% endif %}
								</a>
							</div>
						{% endif %}

						{% if forloop.counter >= 3 %}
							<div class="articulo-listado col-md-4 mismo-alto">
								<a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
									<small>{{articulo.volanta}}</small>
									<h3>{{articulo.titulo}}</h3>
									{% if articulo.imagen %}
									{% thumbnail articulo.imagen "250x130" crop="center" as im %}
									    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
									{% endthumbnail %}
									{% else %}
										<img src="http://placehold.it/250x130&text=..." alt="placeholder">
									{% endif %}
									{% if articulo.bajada %}
										<p>{{articulo.bajada|safe|truncatewords:30}}</p>
									{% else %}
										<p>{{articulo.texto|safe|truncatewords:30}}</p>
									{% endif %}
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>