{% load staticfiles flatpages %}

<footer class="row">
	<div class="col-md-3 logo">
		<img class="img" src="{% static 'img/logo.png' %}">
		<p>Otro periodismo</p>
	</div>

	<div class="columna col-md-2 col-md-offset-1">
		<h3>Nosotros</h3>
		<ul>
			{% get_flatpages '/acerca/' as pages %}
			{% for page in pages %}
		        <li><a href="/info{{ page.url }}">{{ page.title }}</a></li>
		    {% endfor %}
		</ul>
	</div>

	<div class="columna col-md-2">
		<h3>Redes Sociales</h3>
		<ul>
		    <li><a href="https://www.facebook.com/sudestadarevista">Facebook</a></li>
		    <li><a href="https://twitter.com/revsudestada">Twitter</a></li>
		</ul>
	</div>
	
	<div class="columna col-md-2">
		<h3>Colecciones</h3>
		<ul>
			{% for coleccion in lista_colecciones %}
		    	<li><a href="/coleccion/{{coleccion.id}}/{{coleccion.slug}}/">{{coleccion.titulo}}</a></li>
		    {% endfor %}
		</ul>
	</div>

	<div class="col-md-12">
		<small id="desarrollo" class="pull-right">Diseño y Desarrollo Web por <a href="mailto:matias.benedetto@gmail.com" target="_blank">Matias Benedetto</a></small>
	</div>




</footer>