{% load staticfiles flatpages %}

<header class="row">
	<div class="col-md-3">

		<ul>
			<li><a href="/">Principal</a></li>
			{% get_flatpages '/acerca/' as pages %}
			{% for page in pages %}
		        <li><a href="/info{{ page.url }}">{{ page.title }}</a></li>
		    {% endfor %}
		</ul>
	</div>

	<div class="col-md-6">
		<a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Logo Revista Sudestada"></a>
	</div>

	<div class="col-md-3">
		<p>Revista de Cultura, Política y Sociedad</p>
		<form class="form" id="buscar" action="/buscar/" method="POST">
			{% csrf_token %}
			<input type="text" placeholder="Buscar...">
		</form>
	</div>

	<ul class="col-md-12" id="secciones">
		{% for seccion in secciones %}
			<li><a href="/seccion/{{seccion.slug}}/">{{seccion.titulo}}</a></li>
		{% endfor %}
	</ul>

</header>