{% extends "base.html" %}
{% load staticfiles thumbnail %}


{% block body_class %}index{% endblock %}


{% block contenido %}
	
	{% with edicion=ultima_edicion %}     
		{% include 'edicion-contenido.html' %}
	{% endwith %}





	<div class="row">

		<div class="numeros-anteriores col-md-9">
			<h1>Números Anteriores</h1>
			<ul class="row ediciones-anteriores">
				{% for edicion in ediciones %}
					<li class="col-md-3 edicion">
						<a href="/edicion/{{edicion.id}}/{{edicion.slug}}/">
							{% thumbnail edicion.imagen "200" as im %}
							    <img src="{{ im.url }}" alt="Tapa numero {{edicion.numero}}, {{edicion.titulo}}">
							{% endthumbnail %}
							<p><b>N° {{edicion.numero}}</b> - Enero 2015</p>
							<h4>{{edicion.titulo}}</h4>
						</a>
					</li>
				{% endfor %}
			</ul>


			{% with edicion=ultima_edicion %}     
				{% include 'edicion-contenido.html' %}
			{% endwith %}



			

		</div>

		
		{% include "sidebar.html" %}


		<div class="numeros-anteriores col-md-12">
			<h1>Especiales Sudestada</h1>
			<ul class="row ediciones-anteriores">
				{% for edicion in especiales %}
					<li class="col-md-3 edicion">
						<a href="/edicion/{{edicion.id}}/{{edicion.slug}}/">
							{% thumbnail edicion.imagen "200" as im %}
							    <img src="{{ im.url }}" alt="Tapa numero {{edicion.numero}}, {{edicion.titulo}}">
							{% endthumbnail %}
							<p><b>N° {{edicion.numero}}</b></p>
							<h4>{{edicion.titulo}}</h4>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>


	</div>
	
{% endblock %}