{% extends "base.html" %}
{% load staticfiles thumbnail %}


{% block body_class %}index{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/libs/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'js/mismo-alto.js' %}"></script>
{% endblock %}


{% block contenido %}
	
	{% with edicion=ultima_edicion %}     
		{% include 'edicion-contenido.html' %}
	{% endwith %}





	<div class="row">

		<div class="numeros-anteriores col-md-9">
			<a href="/coleccion/2/revista/">
				<h1>Números Anteriores <span class="glyphicon glyphicon-th pull-right"></span></h1>
			</a>
			
			<ul class="row ediciones-anteriores">
				{% with ediciones=ediciones %} 
					{% for edicion in ediciones %}
						{% include 'edicion-listar-contenido.html' %}					
					{% endfor %}
				{% endwith %}

				<a class="col-md-12" id="todas-las-ediciones" href="/coleccion/2/revista/"><span class="glyphicon glyphicon-th"></span> Ver todos los numeros de la revista...</a>
				
			</ul>


			{% with edicion=ultima_edicion %}     
				{% include 'edicion-contenido.html' %}
			{% endwith %}

		</div>

		
		{% include "sidebar.html" %}


		<div class="numeros-anteriores col-md-12">
			<h1>Especiales Sudestada</h1>
			<ul class="row ediciones-anteriores">
				{% with ediciones=especiales %} 
					{% for edicion in ediciones %}
						{% include 'edicion-listar-contenido.html' %}					
					{% endfor %}
				{% endwith %}
			</ul>
		</div>


	</div>
	
{% endblock %}