{% extends "base.html" %}
{% load staticfiles thumbnail %}

{% block titulo %}{{seccion.titulo}}{% endblock %}
{% block descripccion %}Articulos en Revista sudestada acerca de {{seccion.titulo}}{% endblock %}

{% block body_class %}seccion{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/libs/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'js/mismo-alto.js' %}"></script>
{% endblock %}

{% block contenido %}
	<div class="row">

		<div class="col-md-9">

			<div class="encabezado">
				<small>Seccion</small>
				<h1>{{seccion.titulo}}</h1>
			</div>

			<div class="row">
				{% for articulo in articulos %}
					<div class="articulo-listado col-md-4 mismo-alto">
						<a href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
							<small>{{articulo.volanta}}</small>
							<h1>{{articulo.titulo}}</h1>
							{% thumbnail articulo.imagen "300x250" crop="center" as im %}
							    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
							{% endthumbnail %}
							<p>{{articulo.bajada|truncatewords:25}}</p>
						</a>
					</div>
				{% endfor %}
			</div>


			{% if articulos.has_other_pages %}
				<div class="pags">
					<h3>Más resultados</h3>
					<ul class="pagination">
					    {% if articulos.has_previous %}
					        <li><a href="?pagina={{ articulos.previous_page_number }}">&laquo;</a></li>
					    {% endif %}

					    {% for num in articulos.paginator.page_range %}
							{% ifequal num articulos.number %}
								<li><a href=""><b>{{ num }}</b></a></li>
							{% else %}
								<li><a href="?pagina={{ num }}">{{ num }}</a></li>
							{% endifequal %} 
						{% endfor %}

					    {% if articulos.has_next %}
					        <li><a href="?pagina={{ articulos.next_page_number }}">&raquo;</a></li>
					    {% endif %}
					</ul>
				</div>
			{% endif %}


		</div>

		{% include "sidebar.html" %}
		
	</div>


{% endblock %}