{% load staticfiles thumbnail %}

<div class="sidebar col-md-3">

	<div class="bloque">
		<h4>Articulos más vistos</h4>
		<ul class="articulos">
			{% for articulo in articulos_mas_vistos %}
				<li class="row">
					<a class="articulo clearfix" href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
						<div class="col-md-3">
							{% if articulo.imagen %}
								{% thumbnail articulo.imagen "50x50" crop="center" as im %}
								    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
								{% endthumbnail %}
							{% else %}
								 <img src="http://placehold.it/50&text=..." alt="placeholder">
							{% endif %}
						</div>

						<div class="col-md-9">
							<h3>{{articulo.titulo}}</h3>
							<small>En revista numero {{articulo.edicion.numero}}</small>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="bloque banner">
		<img src="{% static 'img/banners/suscripccion.png' %}" alt="Suscribite a sudestada">
	</div>

	{% for banner in banners %}
		<div class="bloque banner">
			{% if banner.mostrar_titulo %}
				<h4>{{banner.titulo}}</h4>
			{% endif %}
			{% if banner.vinculo %}<a href="{{banner.vinculo}}">{% endif %}
			{% thumbnail banner.imagen "350" as im %}
				<img src="{{ im.url }}" alt="{{banner.titulo}}">
			{% endthumbnail %}
			{% if banner.vinculo %}</a>{% endif %}
		</div>
	{% endfor %}

	<div class="fb-like-box" data-href="https://www.facebook.com/sudestadarevista" data-width="262" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
	
</div>