{% load staticfiles thumbnail %}

<div class="sidebar col-md-3">

	<div class="bloque">
		<h4>Articulos más vistos</h4>
		<ul class="articulos">
			{% for articulo in articulos_mas_vistos %}
				<li class="row">
					<a class="articulo clearfix" href="/articulo/{{articulo.id}}/{{articulo.slug}}/">
						<div class="col-md-3">
							{% if articulo.imagen %}
								{% thumbnail articulo.imagen "50x50" crop="center" as im %}
								    <img src="{{ im.url }}" alt="{{articulo.titulo}}">
								{% endthumbnail %}
							{% else %}

							{% endif %}
						</div>

						<div class="col-md-9">
							<h3>{{articulo.titulo}}</h3>
							<small>En revista numero {{articulo.edicion.numero}}</small>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="bloque banner">
		<img src="{% static 'img/banners/suscripccion.png' %}" alt="Suscribite a sudestada">
	</div>


</div>