.edicion{
	background-color: #eee;
	.tapa{
		width: 100%;
	}

	.id-edicion{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-color: #000;
		color: #eee;
		width: 125%;
		margin-left: -25%;
		text-align: right;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 20px;
	}

	h2{
		margin-bottom: 0;
	}

	.coleccion{
		color: #aaa;
		margin-top: 0;
	}

	.sumario-titulo{
		margin-top: 20px;
		font-family: Arial, Helvetica, Sans, Sans-serif;
		font-weight: bold;
		font-size: 2rem;
	}

	.sumario{
		margin: 0;
		padding: 0;
		padding-left: 15px;
		font-size: 1.3rem;
		li{
			margin-bottom: 5px;
		}
		a{
			color: #000;
		}
		a:hover{
			color: @link-color;
		}


	}

	.btn{
		width: 100%;
		white-space:normal !important;
    	word-wrap:break-word; 
	}

	
}


.edicion-listada{
	padding-top: 20px;
	padding-bottom: 20px;
	list-style: none;

	&:hover{
		background-color: #000;

		img{
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ 
			opacity: .85;
		}

		p, h4{
			color: @link-color;
		}
	}

	p{
		font-family: Arial, Helvetica, Sans, Sans-serif;
		margin-top: 10px;
		margin-bottom: 0px;
		font-size: 1.2rem;
		color: #000;
	}

	h4{
		margin-top: 0px;
		color: #000;
		margin-bottom: 5px;
	}

	.coleccion{
		color: #666;
		margin: 0;
		&:hover{
			color: @link-color;
		}
	}

	img{
		width: 100%;
	}

	.coleccion{
		margin-bottom: 10px;
	}

	a.mismo-alto{
		display: block;
		margin-bottom: 10px;
	}

	a:hover{
		color: @link-color;
	}

	.btn{
		width: 100%;
		white-space:normal !important;
    	word-wrap:break-word; 
	}
}