@import "bootstrap.less";
//@import "bootstrap-theme.less";

.index{

	header{
		margin-bottom: 0;
	}

	
	.ediciones-anteriores{
		background-color: #eee;
		//margin: 0;
		padding: 0;
		margin-bottom: 40px;

		
	}

	#numeros{
		margin-bottom:40px;
	}

	.numeros-anteriores{
		margin-top: 0px;
		margin-bottom: 0;
	}

	#todas-las-ediciones{
		color: #333;
		text-align: center;
		margin-bottom: 20px;
		display: block;
		margin-top: 10px;
	}

	a{
		color: #000;
	}
}