{% extends "base.html" %}
{% load staticfiles thumbnail %}

{% block titulo %}{{articulo.titulo}}{% endblock %}
{% block descripccion %}{{articulo.bajada}}{% endblock %}

{% block body_class %}articulo{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
	//Codigo Shareaholic
	//<![CDATA[
	  (function() {
	    var shr = document.createElement('script');
	    shr.setAttribute('data-cfasync', 'false');
	    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
	    shr.type = 'text/javascript'; shr.async = 'true';
	    shr.onload = shr.onreadystatechange = function() {
	      var rs = this.readyState;
	      if (rs && rs != 'complete' && rs != 'loaded') return;
	      var site_id = 'a726677ed1e074b0e4b01b9a45422b66';
	      try { Shareaholic.init(site_id); } catch (e) {}
	    };
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(shr, s);
	  })();
	//]]>
	</script>



	<script>
	//FACEBOOK SDK
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=864410493581694&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}

{% block contenido %}
	<div class="row">

			<div class="row">
				<div class="col-md-9">

					<div class="encabezado">
						<h1>{{ flatpage.title }}</h1>
					</div>

					<div class="cuerpo">
						<div class="texto">
							{{flatpage.content|safe}}
						</div>

						{% if flatpage.enable_comments %}
							<div class="comentarios">
								<h2>Comentarios</h2>
								{% include "comentarios.html" %}
							</div>
						{% endif %}
					</div>


				</div>


				{% include "sidebar.html" %}

			</div>
		
	</div>


{% endblock %}