header{font-family:'IM Fell DW Pica',serif;color:#333;padding-top:20px;margin-bottom:20px}header .logo{max-width:100%}
header ul{list-style:none;margin:0;padding:0}header ul a{color:#333}
header #secciones{width:100%;text-align:center;margin-top:10px;border-top:1px solid #eee;border-bottom:1px solid #eee}header #secciones li{display:inline-block;padding:10px}
header form input{padding:10px;padding-top:0;margin-top:80px}
