@import "bootstrap.less";
//@import "bootstrap-theme.less";

.index{

	header{
		margin-bottom: 0;
	}

	
	.ediciones-anteriores{
		background-color: #eee;
		//margin: 0;
		padding: 0;
		margin-bottom: 40px;

		
	}
}